/* 

    Products Component Styling


*/

.products {

    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-color: var(--color-greenbeige);
    
}

.products h1{
    font-size: 45px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.headerText{
    padding: 50px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 66px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    top: -100px;
}


.list {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex: 1;
}
.product {
    width : 100%;
}
/*  

    Media Queries

*/

@media (min-width: 728px) {

    .list{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }

    .product {
        width : calc(50% -  30px);
        height: 300px;
        margin-bottom: 200px;
    }

    

}

@media (min-width: 1024px) {
   
    .product {
        width : calc(33% -  30px);
    }
}

@media (min-width: 1280px) {
   

    .product {
        width : calc(25% -  30px);
    }
}