:root {

    --color-black: #000;
    --color-white: #fff;
    --color-darkgrey: #707070 ;
    --color-green:#839B97;
    --color-greenbeige: #CFD3CE;
    --color-blue: #34626C;
    --color-beige: #C6B497;
    --color-darkblue: #2A4F57;
    --color-shadow: #00000029;

    --color-font-base : #000;
    --color-background-base : #fff;

    --main-gutter : 20px;
    
}

@media (prefers-color-scheme: dark) {

  :root {

    --color-black: #000;
    --color-white: #fff;
    --color-darkgrey: #707070 ;
    --color-green:#839B97;
    --color-greenbeige: #CFD3CE;
    --color-blue: #34626C;
    --color-beige: #C6B497;
    --color-darkblue: #2A4F57;
    --color-shadow: #00000029;
    --main-gutter : 20px;
    
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding : 0; 
  
}

.p404 {

  display: flex;
  justify-content: center;
  align-items: center;

}
.page {

  background-color: var(--color-greenbeige);

}
html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #000;
  

}

p{
  margin: 10px 0;
}

body {
  background-color: var(--main-color);
  scroll-behavior: smooth;


}

.active {
  color: red;
}

.slim {
  font-weight: 100;
}

.inactive {
  color: blue;
}


a {
  color: inherit;
  text-decoration: none;
}

.headline {
  color : red;
  font-weight: 700;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  .box {
    background-color: yellow;
  }
  
}
