
.intro{
    background-color: var(--color-blue); 
    border-radius: 70px 0;
    margin: 0 auto;
    text-align: center;
}
.content{
    padding-top: 30px;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: 0 auto;
    text-align: center;
    top: -100px;
    position: relative;
    border-radius: 70px 0;
    z-index: 10;
}

.introText h1{
    font-size: 50px;
    margin: 40px 0;
    
}

.introText p{
    font-size: 14px;
    line-height: 1.9;
    margin: 40px;
}


.img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;

}

.button{
    width: 250px;
    height: 95px;
    margin: 0 auto;
    background-color: var(--color-green);
    font-size: 28px;
    color: var(--color-white);
    text-transform: uppercase;
    border: none;
    border-radius: 66px 0;
    box-shadow: 2px 2px 15px var(--color-shadow);
    margin-bottom: 100px;
    
}

@media (min-width: 728px){
    .img{
        width: 250px;
        height: 250px;
        margin: 0 auto;    
    }

   

    
}

